Repository Nub-en-Nuber/NuberJam-Backend, pull requests merged in 2023-07, with the labels that each got.

#45 refactor(album): MP-181 Refactoring Album Endpoint
  api/album/add.php
  api/album/edit.php
  api/album/retrieve.php
Labels: refactor, album

#44 refactor(favorite): MP-184 Refactoring Favorite Endpoint
  api/favorite/retrieve.php
Labels: refactor, favorite

#43 refactor(playlist-detail): MP-185 Refactoring Playlist Detail Endpoint
  api/playlist/detail/check.php
  api/playlist/detail/index.php
  api/playlist/detail/retrieve.php
  config/constant.php
Labels: refactor, playlist-detail

#46 refactor(general) : MP-188 Refactor Index General API Endpoint
  api/index.php
Labels: refactor, general
