Repository Nub-en-Nuber/NuberJam-Backend, pull requests merged in 2023-06, with the labels that each got.

#7 Reconstruct code, change BASE_URL in Constant, move database detail to Constant
  api/user/add.php
  api/user/delete.php
  api/user/edit.php
  api/user/index.php
  api/user/retrieve.php
  config/constant.php
  config/database.php
  config/nuber_jam.sql
  create.php
  delete.php
  edit.php
  retrieve.php
Labels: refactor

#8 Update pull_request_template.md
  pull_request_template.md
Labels: docs

#11 refactor(general) : MP-103 Change Database Attribute and ERD
  config/nuber_jam.sql
Labels: refactor

#12 refactor(general) : Edit Utils class and file SQL
  config/nuber_jam.sql
  config/utils.php
Labels: refactor

#13 refactor(general) : MP-104 Add Album Artist Table in Database and change User Entity to Account Entity
  config/nuber_jam.sql
  config/nuberjam_erd.drawio
Labels: refactor

#14 refactor(general) : MP-105 Add New Scope to Commit Message and Pull Request Naming Format
  pull_request_template.md
Labels: refactor

#15 refactor(general) : MP-104 Remove albumArtist attribute in album table database
  config/nuber_jam.sql
  config/nuberjam_erd.drawio
Labels: refactor, general

#16 refactor(album) : MP-84 Refactor All Album Endpoint
  api/album/add.php
  api/album/delete.php
  api/album/edit.php
  api/album/index.php
  api/album/retrieve.php
Labels: refactor, album

#17 feat(playlist-detail) : MP-32 Create Playlist Detail Endpoint, refactor(playlist-detail) : MP-83 Refactor Playlist Detail Endpoint
  api/playlist/detail/add.php
  api/playlist/detail/delete.php
  api/playlist/detail/index.php
  api/playlist/detail/retrieve.php
  config/constant.php
Labels: feat, refactor, playlist-detail

#18 refactor(account) : MP-81 Refactor Account Endpoint
  api/account/add.php
  api/account/delete.php
  api/account/edit.php
  api/account/index.php
  api/account/login.php
  api/account/retrieve.php
  api/user/edit.php
  asset/images/account/default_account.png
  config/constant.php
  config/utils.php
Labels: refactor, account

#19 refactor(playlist-detail): MP-109 Add Search Endpoint in Playlist Detail
  api/playlist/detail/retrieve.php
Labels: refactor, playlist-detail

#20 refactor(playlist): MP-82 Refactor Playlist Endpoint
  api/playlist/add.php
  api/playlist/delete.php
  api/playlist/detail/index.php
  api/playlist/edit.php
  api/playlist/index.php
  api/playlist/retrieve.php
  config/constant.php
Labels: refactor, playlist

#21 refactor(account): MP-110 Refactor Account Response Architecture, refactor(account): MP-111 Remove Account Photo When Remove Account
  api/account/delete.php
  api/account/retrieve.php
  api/playlist/detail/retrieve.php
  api/playlist/retrieve.php
Labels: refactor, account

#22 feat(music) : MP-28 Complete Create Music Endpoint, refactor(music) : MP-85 Refactor Code Music Endpoint
  api/music/add.php
  api/music/delete.php
  api/music/edit.php
  api/music/index.php
  api/music/retrieve.php
  config/constant.php
Labels: feat, refactor, music

#23 refactor(album) : MP-112 Add Search Music Endpoint in Album
  api/album/delete.php
  api/album/edit.php
  api/album/index.php
  api/album/retrieve.php
  config/constant.php
Labels: refactor, album

#26 refactor(account) : MP-114 Remove Playlist Photo When Delete Account
  api/account/delete.php
Labels: refactor, account

#29 refactor(album) : MP-91 Add some condition to complete test case
  api/album/add.php
  api/album/artist/check.php
  api/album/edit.php
  api/album/retrieve.php
  config/constant.php
Labels: refactor, album, album-artist

#30 refactor(music) : MP-92 Add some condition for test case
  api/music/add.php
  api/music/edit.php
  config/constant.php
Labels: refactor, music

#31 refactor(favorite) : MP-93 Add condition for test case
  api/favorite/add.php
  config/constant.php
Labels: refactor, favorite

#33 refactor(account) : MP-88 Add condition for account endpoint test case
  api/account/add.php
  api/account/edit.php
  api/account/login.php
  config/constant.php
Labels: refactor, account

#34 refactor(playlist) : MP-89 Testing Playlist Endpoint
  api/playlist/add.php
Labels: refactor, playlist

#35 refactor(playlist-detail) : MP-90 Testing Playlist Detail Endpoint
  api/playlist/detail/add.php
  config/constant.php
Labels: refactor, playlist-detail

#38 refactor(general): [MP-178] Change Delete Method to Post
  api/account/delete.php
  api/album/delete.php
  api/favorite/delete.php
  api/music/delete.php
  api/playlist/delete.php
  api/playlist/detail/delete.php
Labels: refactor, general

#39 refactor(general): MP-178 Add slash in the end of BASE_URL
  config/constant.php
Labels: refactor, general

#40 refactor(general) : MP-180 Change Database ERD & Structure
  config/nuber_jam.sql
  config/nuberjam_erd.drawio
  pull_request_template.md
Labels: refactor, general

#41 refactor(music) : MP-183 Refactoring Music Endpoint
  api/music/add.php
  api/music/edit.php
  api/music/retrieve.php
Labels: refactor, music

#42 refactor(music-artist) : MP-182 Refactoring Artist Endpoint
  api/music/artist/check.php
  api/music/artist/index.php
Labels: refactor, music-artist
